{
  "useTabs": false,
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "none",
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
