<article class="flex justify-center">
  <div class="w-full md:w-2/5">
    <mat-card>
      <h1>Angular Ngrx material starter</h1>
      <h1>{{ 'iwdf.home.header' | translate }}</h1>
      <h3>Get Started</h3>
      <pre>
git clone https://github.com/tomastrajan/angular-ngrx-material-starter.git new-project
cd new-project
npm install
npm start
      </pre>
      <h3>Tailwind color</h3>
      <p class="m-0 text-accent">accent</p>
      <p class="m-0 text-primary">primary</p>
      <p class="m-0 text-warn">warn</p>

      <div class="flex justify-center gap-3">
        <a
          href="https://github.com/whisher/angular-ngrx-material-starter"
          mat-mini-fab
          color="accent"
          aria-label="github"
        >
          <fa-icon size="lg" [icon]="['fab', 'github']"></fa-icon>
        </a>
        <a
          href="https://twitter.com/ilwebdifabio"
          mat-mini-fab
          color="accent"
          aria-label="twitter"
        >
          <fa-icon
            class="text-icon"
            size="lg"
            [icon]="['fab', 'twitter']"
          ></fa-icon>
        </a>
      </div>
    </mat-card>
  </div>
</article>
