<mat-toolbar color="primary">
  <div class="block md:hidden pr-3">
    <button mat-icon-button (click)="sidenav.toggle()">
      <fa-icon
        size="2x"
        [icon]="['fas', 'bars']"
        aria-hidden="false"
        aria-label="Show menu"
      ></fa-icon>
    </button>
  </div>
  <h1 class="flex items-center m-0">
    <a routerLink="/" class="flex items-center gap-3">
      <img
        class="h-10 w-10 md:h-12 md:w-12 rounded-2xl shadow shadow-white/50"
        src="assets/logo.png"
        alt="logo"
      />
      <span class="hidden md:inline-block text-white text-xl">
        Angular NgRx Material Starter
      </span>
    </a>
  </h1>

  <div class="ml-auto pr-8">
    <div class="hidden md:block">
      <public-layout-nav></public-layout-nav>
    </div>
  </div>
  <public-layout-header-account
    [isAuthenticated]="isAuthenticated"
  ></public-layout-header-account>

  <div class="w-14 ml-8 hidden md:block">
    <public-layout-theme-picker></public-layout-theme-picker>
  </div>
  <div class="w-14 ml-8 hidden md:block">
    <public-layout-lang-picker></public-layout-lang-picker>
  </div>
</mat-toolbar>
