<admin-layout-header [sidenav]="sidenav"></admin-layout-header>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened>
    <admin-layout-nav></admin-layout-nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <main class="min-h-[calc(100vh-64px)] flex flex-col">
      <div class="flex-1 px-3 bg-slate-50">
        <div class="bg-white py-3">
          <router-outlet></router-outlet>
        </div>
      </div>
      <admin-layout-footer></admin-layout-footer>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
