<form (ngSubmit)="onSubmit()" [formGroup]="frm" autocomplete="off">
  <ng-container *ngIf="status?.error">
    <iwdf-alert color="danger" [msg]="status?.error?.message"></iwdf-alert>
  </ng-container>
  <div class="row">
    <div class="col-12">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          autocomplete="email"
          placeholder=""
        />
        <mat-error *ngIf="frm.get('email')!.hasError('required')">
          <span>Email is required</span>
        </mat-error>
        <mat-error *ngIf="frm.get('email')!.hasError('email')">
          <span>Email is not valid</span>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
          autocomplete="current-password"
          placeholder=""
        />
        <mat-icon matSuffix (click)="hide = !hide">
          {{ hide ? 'visibility_off' : 'visibility' }}
        </mat-icon>
        <mat-error *ngIf="frm.get('password')!.hasError('required')">
          <span>Password is required</span>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="passwordConfirm"
          autocomplete="current-password"
          placeholder=""
        />
        <mat-icon matSuffix (click)="hide = !hide">
          {{ hide ? 'visibility_off' : 'visibility' }}
        </mat-icon>
        <mat-error *ngIf="frm.get('passwordConfirm')!.hasError('required')">
          <span>Password is required</span>
        </mat-error>
        <mat-error
          *ngIf="frm.get('passwordConfirm')!.hasError('invalidRePassword')"
        >
          <span>The confirm password doesn't match</span>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <mat-checkbox formControlName="acceptPrivacyPolicy">
        <span>I authorize the use of my personal data.</span>
      </mat-checkbox>
      <mat-error *ngIf="frm.get('acceptPrivacyPolicy')!.hasError('required')">
        <span>You should authorize</span>
      </mat-error>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <iwdf-button-spinner [loading]="!!status?.loading">
        <span>Signin</span>
      </iwdf-button-spinner>
    </div>
  </div>
</form>
