<form (ngSubmit)="onSubmit()" [formGroup]="frm" autocomplete="off">
  <ng-container *ngIf="status?.error">
    <iwdf-alert color="danger" [msg]="status?.error?.message"></iwdf-alert>
  </ng-container>

  <mat-form-field class="w-full" appearance="outline">
    <mat-label>Email</mat-label>
    <input
      type="email"
      matInput
      formControlName="email"
      autocomplete="email"
      placeholder=""
    />
    <mat-error *ngIf="frm.get('email')!.hasError('required')">
      <span>Email is required</span>
    </mat-error>
    <mat-error *ngIf="frm.get('email')!.hasError('email')">
      <span>Email is not valid</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="w-full" appearance="outline">
    <mat-label>Password</mat-label>
    <div class="flex gap-1">
      <input
        class="flex-1"
        matInput
        [type]="hide ? 'password' : 'text'"
        formControlName="password"
        autocomplete="current-password"
        placeholder=""
      />
      <fa-icon
        class="text-icon inline"
        size="sm"
        [icon]="['fas', hide ? 'eye-slash' : 'eye']"
        (click)="hide = !hide"
      ></fa-icon>
    </div>
    <mat-error *ngIf="frm.get('password')!.hasError('required')">
      <span>Password is required</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="w-full" appearance="outline">
    <mat-label>Confirm Password</mat-label>
    <div class="flex gap-1">
      <input
        class="flex-1"
        matInput
        [type]="hide ? 'password' : 'text'"
        formControlName="passwordConfirm"
        autocomplete="current-password"
        placeholder=""
      />
      <fa-icon
        class="text-icon inline"
        size="sm"
        [icon]="['fas', hide ? 'eye-slash' : 'eye']"
        (click)="hide = !hide"
      ></fa-icon>
    </div>
    <mat-error *ngIf="frm.get('passwordConfirm')!.hasError('required')">
      <span>Password is required</span>
    </mat-error>
    <mat-error
      *ngIf="frm.get('passwordConfirm')!.hasError('invalidRePassword')"
    >
      <span>The confirm password doesn't match</span>
    </mat-error>
  </mat-form-field>

  <div>
    <mat-checkbox formControlName="acceptPrivacyPolicy">
      <span>I authorize the use of my personal data.</span>
    </mat-checkbox>
    <mat-error *ngIf="frm.get('acceptPrivacyPolicy')!.hasError('required')">
      <span>You should authorize</span>
    </mat-error>
  </div>

  <div class="mt-3">
    <iwdf-button-spinner [loading]="!!status?.loading">
      <span>Signin</span>
    </iwdf-button-spinner>
  </div>
</form>
