@use "@angular/material" as mat;

$iwdf-primary: mat.define-palette(mat.$indigo-palette, 800, 300, 900);
$iwdf-accent: mat.define-palette(mat.$light-blue-palette);
$iwdf-warn: mat.define-palette(mat.$pink-palette, 600);

$iwdf-theme: mat.define-light-theme($iwdf-primary, $iwdf-accent, $iwdf-warn);
@mixin iwdf-app-blue-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $linkColor: mat.get-color-from-palette($primary, lighter);
  $linkColorHover: mat.get-color-from-palette($primary, darker);

  .prose {
    a {
      color: $linkColor;

      &:hover {
        color: $linkColorHover;
      }
    }
  }
  mat-sidenav-container {
    footer {
      background-color: mat.get-color-from-palette($primary);
    }
  }
}

.blue-theme {
  @include mat.core-color($iwdf-theme);
  @include mat.button-color($iwdf-theme);
  @include mat.card-color($iwdf-theme);
  @include mat.checkbox-color($iwdf-theme);
  @include mat.divider-color($iwdf-theme);
  @include mat.form-field-color($iwdf-theme);
  @include mat.input-color($iwdf-theme);
  @include mat.list-color($iwdf-theme);
  @include mat.menu-color($iwdf-theme);
  @include mat.progress-spinner-color($iwdf-theme);
  @include mat.select-color($iwdf-theme);
  @include mat.sidenav-color($iwdf-theme);
  @include mat.slide-toggle-color($iwdf-theme);
  @include mat.toolbar-color($iwdf-theme);
  @include iwdf-app-blue-theme($iwdf-theme);
}
