@use "@angular/material" as mat;
@import "./iwdf-app-theme";

$iwdf-primary: mat.define-palette(mat.$indigo-palette, 800, 300, 900);
$iwdf-accent: mat.define-palette(mat.$light-blue-palette);
$iwdf-warn: mat.define-palette(mat.$pink-palette, 600);

$iwdf-theme: mat.define-light-theme($iwdf-primary, $iwdf-accent, $iwdf-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
//@include mat.all-component-color($iwdf-theme);
.blue-theme {
  @include mat.core-color($iwdf-theme);
  @include mat.button-color($iwdf-theme);
  @include mat.card-color($iwdf-theme);
  @include mat.checkbox-color($iwdf-theme);
  @include mat.dialog-color($iwdf-theme);
  @include mat.divider-color($iwdf-theme);
  @include mat.form-field-color($iwdf-theme);
  @include mat.input-color($iwdf-theme);
  @include mat.list-color($iwdf-theme);
  @include mat.menu-color($iwdf-theme);
  @include mat.progress-spinner-color($iwdf-theme);
  @include mat.select-color($iwdf-theme);
  @include mat.sidenav-color($iwdf-theme);
  @include mat.slide-toggle-color($iwdf-theme);
  @include mat.toolbar-color($iwdf-theme);
  @include iwdf-app-theme($iwdf-theme);
}
