@use "../../node_modules/@angular/material" as mat;

@import "./custom-palette";
@import "./styles-reset.scss-theme";
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
$iwdf-custom-typography: mat.define-typography-config(
  $font-family: "'Work Sans', sans-serif"
);
@include mat.core($iwdf-custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$iwdf-primary-palette: mat.define-palette($iwdf-primary, 300, 500, 300);
$iwdf-accent-palette: mat.define-palette($iwdf-accent, 300);

// The warn palette is optional (defaults to red).
$iwdf-warn-palette: mat.define-palette($iwdf-warn, 300);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$iwdf-theme: mat.define-dark-theme(
  (
    color: (
      primary: $iwdf-primary-palette,
      accent: $iwdf-accent-palette,
      warn: $iwdf-warn-palette
    )
  )
);

@mixin iwdf-app-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .prose {
    @include iwdf-styles-reset-theme($primary);
  }
  mat-sidenav-container {
    footer {
      background-color: mat.get-color-from-palette($primary);
    }
  }
}

@mixin custom-components-theme($theme) {
  @include iwdf-app-component-theme($theme);
}
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
//@include mat.all-component-themes($iwdf-theme);
@include mat.core-theme($iwdf-theme);
@include mat.button-theme($iwdf-theme);
@include mat.card-theme($iwdf-theme);
@include mat.checkbox-theme($iwdf-theme);
@include mat.form-field-theme($iwdf-theme);
@include mat.input-theme($iwdf-theme);
@include mat.list-theme($iwdf-theme);
@include mat.menu-theme($iwdf-theme);
@include mat.progress-spinner-theme($iwdf-theme);
@include mat.sidenav-theme($iwdf-theme);
@include mat.toolbar-theme($iwdf-theme);

@include custom-components-theme($iwdf-theme);
$focus-indicator: true;

@if $focus-indicator {
  @include mat.strong-focus-indicators-theme($iwdf-theme);
} @else {
  * {
    &:active,
    :focus {
      outline: none !important;
    }
  }
}
