@use "@angular/material" as mat;
@import "./custom-palette";

$iwdf-primary-palette: mat.define-palette($iwdf-primary, 300, 500, 300);
$iwdf-accent-palette: mat.define-palette($iwdf-accent, 300);
$iwdf-warn-palette: mat.define-palette($iwdf-warn, 300);
$iwdf-theme: mat.define-dark-theme(
  (
    color: (
      primary: $iwdf-primary-palette,
      accent: $iwdf-accent-palette,
      warn: $iwdf-warn-palette
    )
  )
);
.dark-theme {
  @include mat.core-color($iwdf-theme);
  @include mat.button-color($iwdf-theme);
  @include mat.card-color($iwdf-theme);
  @include mat.checkbox-color($iwdf-theme);
  @include mat.form-field-color($iwdf-theme);
  @include mat.input-color($iwdf-theme);
  @include mat.list-color($iwdf-theme);
  @include mat.menu-color($iwdf-theme);
  @include mat.progress-spinner-color($iwdf-theme);
  @include mat.sidenav-color($iwdf-theme);
  @include mat.slide-toggle-color($iwdf-theme);
  @include mat.toolbar-color($iwdf-theme);
}
