@use "@angular/material" as mat;

$iwdf-custom-typography: mat.define-typography-config(
  $font-family: "'Work Sans', sans-serif"
);
@include mat.core($iwdf-custom-typography);

@import "./light-theme";

@mixin iwdf-app-component($theme) {
  .dark-theme {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      color: #fff;
    }
  }

  .mat-button,
  .mat-flat-button,
  .mat-raised-button,
  .mat-stroked-button {
    line-height: 40px !important;
    text-decoration: none !important;
    text-transform: uppercase;
  }
  .mat-mini-fab .mat-button-wrapper {
    padding: 0 !important;
  }
}

@include iwdf-app-component($iwdf-theme);
$focus-indicator: true;

@if $focus-indicator {
  @include mat.strong-focus-indicators-theme($iwdf-theme);
} @else {
  * {
    &:active,
    :focus {
      outline: none !important;
    }
  }
}
