$iwdf-primary-palette: mat.define-palette($iwdf-primary, 300, 500, 300);
$iwdf-accent-palette: mat.define-palette($iwdf-accent, 300);
$iwdf-warn-palette: mat.define-palette($iwdf-warn, 300);
$iwdf-theme: mat.define-light-theme(
  (
    color: (
      primary: $iwdf-primary-palette,
      accent: $iwdf-accent-palette,
      warn: $iwdf-warn-palette
    )
  )
);
