@mixin iwdf-styles-reset-theme($palette) {
  $linkColor: mat.get-color-from-palette($palette);
  $linkColorHover: darken($linkColor, 20%);
  a {
    color: $linkColor;

    &:hover {
      color: $linkColorHover;
    }
  }
}
