<div class="block md:hidden">
  <mat-nav-list>
    <a
      mat-list-item
      *ngFor="let item of navigation"
      (click)="sidenav.close()"
      [routerLink]="[item.link]"
      routerLinkActive="active"
    >
      {{ item.label }}
    </a>
  </mat-nav-list>
</div>
<div class="hidden md:block">
  <mat-nav-list class="menu text-2xl">
    <a
      mat-list-item
      *ngFor="let item of navigation"
      [routerLink]="[item.link]"
      routerLinkActive="active"
    >
      {{ item.label }}
    </a>
  </mat-nav-list>
</div>
