<div class="flex flex-col h-full md:hidden">
  <h1>
    <a routerLink="/" class="h-16 flex items-center">
      <img
        class="h-12 w-12 rounded-2xl shadow shadow-white/50"
        src="assets/logo.png"
        alt="logo"
      />
      <span class="text-lg">Angular NgRx Material Starter</span>
    </a>
  </h1>
  <mat-divider></mat-divider>
  <mat-nav-list class="nav-menu">
    <a
      class="!text-3xl !text-bold"
      mat-list-item
      *ngFor="let item of navigation"
      (click)="sidenav?.close()"
      [routerLink]="[item.link]"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      {{ item.label }}
    </a>
  </mat-nav-list>

  <footer class="flex justify-center items-center gap-3 h-14 mt-auto">
    <div class="w-14">
      <public-layout-theme-picker></public-layout-theme-picker>
    </div>
    <div class="w-14">
      <public-layout-lang-picker></public-layout-lang-picker>
    </div>
  </footer>
</div>
<div class="hidden md:block">
  <mat-nav-list class="!flex nav-menu">
    <a
      class="!text-xl !text-bold !text-white"
      mat-list-item
      *ngFor="let item of navigation"
      [routerLink]="[item.link]"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      {{ item.label }}
    </a>
  </mat-nav-list>
</div>
