@import "./themes/light-theme";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Material Custom Style */
.mat-button,
.mat-flat-button,
.mat-raised-button,
.mat-stroked-button {
  color: #f54306 !important;
  line-height: 40px !important;
  text-decoration: none !important;
  text-transform: uppercase;
}
.mat-mini-fab .mat-button-wrapper {
  padding: 0 !important;
}
